
.sidebar__nav {
    .navigation {
        position: fixed;
    }

    ul {
        list-style: none;

        li {
            @include rem(font-size, 18px);
            font-family: $font2;

            a {
                display: block;
                padding: 10px 20px;
                text-decoration: none;

                &.active {
                    background: $green;
                    color: $white;
                }
            }
        }
    }
}

.main__content {
    padding: 0;
}
