
form {
    max-width: 650px;
    @extend %clearfix;

    label {
        display: inline-block;
        text-transform: uppercase;
        margin: 15px 20px 10px 0;
        letter-spacing: 1px;
        @include rem(font-size, $labelFontSize);
        font-family: $labelFontFamily;
    }

    .fuzzy {
        width: 100%;
        padding: 9px 10px 8px;
        border: none;
        font-family: $inputFontFamily;
        margin-bottom: 10px;
        border-radius: 3px;
        @include rem(line-height, 21px);
        border: 1px solid #777;
        @include rem(font-size, $inputFontSize);
        letter-spacing: 1px;
    }

    .star {
        color: red;
        @include rem(font-size, $labelFontSize);
    }

    .colhalf {
        float: left;
        width: calc(50% - 8px);
        margin-right: 16px;

        & + .colhalf {
            margin-right: 0;
        }
    }

    textarea {
        height: 80px;
        padding: 3px 5px;
    }

    .data-info {
        @extend p;
        font-style: italic;
        font-size: 14px;
    }

    legend {
        font-family: $font1;
        font-size: 22px;
        margin-bottom: 0;
        padding-top: 20px;
        color: #666;
    }

    .input-with-button, .input-with-button + .button {
        width: auto;
        @include flexbox;
        flex-flow: row wrap;
        @include flex(1 auto);
    }
}

div.main-error {
    background: rgba(240,0,0,.08);
    padding: 10px 15px !important;
    margin-bottom: 15px;
    font-size: 15px;

    p {
        color: #f00000;
        text-transform: none;
        letter-spacing: 0;

        &:last-of-type {
            margin: 0;
        }
    }
}

.error {
    input {
        border: 2px solid #f00000;
    }

    p {
        color: #f00000;
        text-transform: none;
        letter-spacing: 0;

        &:last-of-type {
            margin: 0;
        }
    }
}

.styled-select {
    box-sizing: border-box;
    overflow: hidden;
    background: url(#{$IMAGE_PATH}dropdown-arrow3.png) no-repeat right center;
    background-size: contain;
    height: 41px;
    width: 100%;
    border: 1px solid #777;
    border-radius: 3px;
    margin: 0 20px 0 0;
    padding-right: 40px;

    select {
        background: transparent;
        font-size: 14px;
        padding: 5px 100px 5px 10px !important;
        width: 268px;
        font-size: 16px;
        height: 41px;
        width: calc(100% + 100px) !important;
        border: 0;
        appearance: none;
        -webkit-appearance: none;
        box-sizing: border-box;
        font-weight: 400;
    }
}

.checkbox {
    margin-bottom: 15px;

    input[type=checkbox] {
        margin: 0 0 0 0;
        border-radius: 3px;
        width: 22px !important;
        height: 22px !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: 2px solid $green;
        position: relative;
        float: left;
        display: inline-block;

        &:checked {
            background: $green;

            &:after {
                content: '';
                width: 12px;
                height: 6px;
                position: absolute;
                top: 4px;
                left: 3px;
                border: 2px solid #ffffff;
                border-top: none;
                border-right: none;
                background: transparent;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
        }
    }

    .mobile-checkbox-styling {
        @extend %clearfix;
    }

    .mobile-checkbox-styling {
        width: 100%;
        display: inline-block;
        float: left;

        .checkbox-label {
            text-transform: none;
            line-height: 20px;
            width: calc(100% - 40px);
            display: inline-block;
            margin-left: 15px;
            letter-spacing: normal;
            float: none;
            font-size: 16px;
            font-weight: normal;

            span {
                font-style: normal;
                font-family: $font3;
                text-transform: none;
                font-size: 27px;
                line-height: 30.2px;
                color: $green;
                display: block;
                padding-bottom: 5px;
            }
        }
    }
}

.radio {
    .radio-hidden {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .radio-label {
        font-size: 16px;
        line-height: 18px;
        text-transform: none;
        letter-spacing: 0;
    }

    .radio-label:before {
        content: "";
        display: inline-block;
        border: 1px solid #a4a4a4;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin-right: 8px;
        vertical-align: sub;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    }

    input[type=radio]:checked + .radio-label:before {
        color: #fff;
        background-color: $green;
        -webkit-box-shadow: inset 0 0 0 4px #fff;
        box-shadow: inset 0 0 0 4px #fff;
    }
}