/*=============================
 + PALETTE
=============================*/

$greenblue: #b9d0c0;
$lightgreen: #cbe2c4;
$blue: #dbe8f1;
$promo: #eae225;
$green: #768d87;
$white: #ffffff;
$textblack: #575756;
$grey: #f4f4f4;
$beige: #e6e1dd;
$whitetranslucent: rgba(255, 255, 255, 0.85);

$warning: #f26d65;

/*Text*/
$textColour: #575756;
$h1Color: #768d87;
$h2Color: #575756;
$h3Color: #575756;
$h4Color: #575756;

$hr-color: #575756;

/*Buttons*/


