
nav.primary {
    border-bottom: 1px solid #e6e1dd;
    margin: 20px 0;

    ul {
        list-style: none;

        li {
            color: $textColour;
            font-size: 20px;
            display: inline-block;

            a {
                padding: 5px 10px;
                font-family: $font1;
                text-decoration: none;
                display: inline-block;
            }

            div {
                display: none;

                ul {
                    background: rgba(255,255,255,.9);
                    padding: 10px 0 10px 0;
                    box-shadow: rgba(0,0,0,.4) 0 0 10px;
                    position: absolute;
                    min-width: 200px;

                    li {
                        display: block;
                        background: none;
                        padding: 0 5px;
                        white-space: nowrap;
                        font-size: 16px;
                        line-height: 21px;

                        a {
                            font-family: $font2;
                            display: block;
                            width: 100%;

                            &:hover {
                                background: $green;
                                color: $white;
                            }
                        }
                    }
                }
            }

            &:hover {
                div {
                    display: block;
                }
            }
        }
    }
}

.subnav-bar {
    margin: 20px 0 !important;

    .grid__col--12 {
        padding: 10px 20px;
    }

    ul {
        padding: 0;

        li {
            display: inline-block;

            &.active a {
                color: #cad2d0;
            }
        }

        p, a {
            font-family: $font2;
            margin: 0;
            padding: 10px;
            @include rem(font-size, 20px);
            line-height: 1;
            display: inline-block;
            text-decoration: none;
        }
    }
}

.subnavmenu.col1 {
    text-align: left;
    display: inline-block;
    padding: 15px 0;
    padding-right: 10px !important;
    border-right: 1px solid $beige;
    margin-left: 20px;
    -webkit-box-flex: auto;
    -moz-box-flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    margin-bottom: 10px;

    h4 {
        text-align: left;
        color: $green;
        font-family: $font1;
        font-size: 24px;
        margin: 0 0 10px 0;
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }

    ul {
        margin: 0 0 1em 0;
        padding-right: 20px;
        @include rem(font-size, 16px);

        ul {
            padding-left: 10px;
        }

        li {
            list-style-type: none;
            font-size: 16px;

            &.active > a {
                color: $green;
                font-weight: 700;
            }

            a {
                font-family: $font2;
                padding: 5px 0;
                display: inline-block;
                text-decoration: none;
            }
        }
    }
}