p {
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    @include rem(font-size, $bodyFontSize);
    line-height: $bodyLineHeight;
    font-family: $bodyFontFamily;
    font-weight: $bodyFontWeight;
    color: $textColour;
    margin-bottom: $paragraphSpacing;

    em {
        font: {
            weight: $bodyItalic;
            style: italic;
        }
    }

    strong {
        font-weight: $bodyBold;
    }

    &.lead {
        @include rem(font-size, $leadFontSize);

        font: {
            family: $leadFontFamily;
            weight: $leadFontWeight;
        }

        line-height: $leadLineHeight;
        text-transform: $leadTextTransform;
        letter-spacing: $leadLetterSpacing;
    }

    &.intro {
        @include rem(font-size, 18px);
        @include rem(line-height, 26px);
    }

    &.serif {
        font-family: $font1;
    }

    &.italic {
        font-style: italic;
    }

    &.banner {
        span {
            display: inline-block;
            background: url(#{$IMAGE_PATH}textbannersml.png) center center no-repeat;
            background-size: 100% 100%;
            padding: 5px 10px;
            color: $textColour;
            font-size: 18px;
        }
    }
}

hr {
    width: 100%;
    margin: 20px 0;
    background: #ddd;
    margin: 28px 0;
    border: 0;
    height: 1px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

blockquote {
    text-align: center;
    position: relative;

    p {
        font-family: $font3;
        @include rem(font-size, 32px);
        line-height: 1.3;
        color: $textColour;
    }

    cite {
        font-family: $font2;
        @include rem(font-size, 18px);
        line-height: 1.3;
        color: $textColour;
    }

    &.quote--xl {
        p {
            @include rem(font-size, 42px);
        }
    }

    @include mq-max($bp-medium) {
        padding: 0;

        p {
            @include rem(font-size, 32px);
        }

        &.quote--xl {
            p {
                @include rem(font-size, 32px);
            }
        }
    }

    @include mq-max($bp-small) {
        p {
            @include rem(font-size, 26px);
        }

        &.quote--xl {
            p {
                @include rem(font-size, 26px);
            }
        }
    }
}

hr {
    &.hr-top {
        margin-top: 0;
    }

    &.hr-bottom {
        margin-bottom: 0;
    }
}

.large-link-wrapper {
    line-height: 16px;
    margin: 0;
    box-sizing: content-box;

    *, *:after, *:before {
        box-sizing: content-box;
    }

    .large-link {
        box-sizing: content-box;

        &.white {
            color: #fff;

            &::before {
                background: url(#{$IMAGE_PATH}line-white.png) no-repeat center;
            }
        }
    }

    @include mq-max($bp-small) {
        .large-link {
            font-size: 18px;
        }
    }
}

.item-list {
    margin-left: 20px;

    li {
        list-style-type: disc;
        margin-bottom: 5px;
    }
}

.highlight {
    line-height: 1.7; /* Tune line "margin" here */
    color: #fff;
    display: inline;
    text-align: center;
    //padding: 0 5px;

    a {
        font-family: inherit;
        line-height: 1.7; /* Tune line "margin" here */
        color: #fff;
        text-decoration: underline;
    }
}

code {
    font-size: $bodyFontSize;
    line-height: $bodyLineHeight;
    font-family: "Courier New",Courier,monospace;
    color: lighten($textblack, 5%);
    word-spacing: normal;
    word-wrap: break-word;
}