// breakpoints
$bp-small: 480px;
$bp-medium: 819px;
$bp-large: 1069px;
$bp-xl: 1319px;

// grid variables
$gridColumns: 12;
$gridMaxWidth: 1200px;
$gutter: 20px;
$gridContentPadding: 20px; //not applied by default, add this variable to any elements where padding is required

// widths for limited-width content within content__container
$contentContainerWidth: 95%;
$contentContainerWidthMax: 1400px;

// site variables
$bodyMargin: 0px;
$sitePaddingSides: 20px;
$footerPadding: 10px 20px; 

$sectionMarginBottom: 50px;

$form-input-padding: 6px;

$menuLineWidth: 80px;

$fullWidthTileImage: 33.33%;
$fullWidthTileInfo: 66.66%;

$IMAGE_PATH: "/Content/images/";