
table {
    font-family: $font2;
    @include rem(font-size, $bodyFontSize);
    line-height: $bodyLineHeight;
    color: $textColour;
    text-align: left;
    width: 100%;
    border-spacing: 0;

    tr {
        td, th {
            padding: 15px 20px 15px 0;
            border: 0;
            border-bottom: 1px solid #dedddc;

            h1, h2, h3, h4 {
                margin-bottom: 0;
            }
        }

        th {
            @include rem(font-size, $leadFontSize);
            padding: 0 20px 15px 0;

            .note {
                font-weight: normal;
                font-size: 14px;
            }
        }
    }

    .button {
        white-space: nowrap;
    }
}