
<div class="grid__col--12 page-section fonts" id="fonts">
    <div class="content">
        <h1>Fonts</h1>
        <hr />
        <p class="intro">COOK's primary brand font is <strong>Hugo's Hand Two</strong>, with <strong>COOK Handwritten</strong> as a secondary font and <strong>Gill Sans</strong> is used to body copy.</p>
        <br/>
        <div class="style__box large">
            <p class="hugo">Hugos Hand Two</p>
            <p class="handwritten">COOK Handwritten</p>
            <p>Gill Sans</p>
        </div>
        <hr />
        <h2>Headings</h2>
        <div class="style__box">
            <table>
                <tr>
                    <th>&nbsp;</th>
                    <th>Font style</th>
                    <th>Font size<br /><span class="note">(Desktop/Mobile)</span></th>
                    <th>Line height<br /><span class="note">(Desktop/Mobile)</span></th>
                    <th>Font weight</th>
                </tr>
                <tr>
                    <td><h1>Heading One</h1></td>
                    <td>Hugos Hand Two</td>
                    <td>36px/30px</td>
                    <td>46.8px/39px</td>
                    <td>Normal</td>
                </tr>
                <tr>
                    <td><h2>Heading Two</h2></td>
                    <td>COOK Handwritten</td>
                    <td>35px/28px</td>
                    <td>45.5px/36.4px</td>
                    <td>Normal</td>
                </tr>
                <tr>
                    <td><h2 class="hugo">Heading Two</h2></td>
                    <td>Hugos Hand Two</td>
                    <td>30px/24px</td>
                    <td>39px/31.2px</td>
                    <td>Normal</td>
                </tr>
                <tr>
                    <td><h3>Heading Three</h3></td>
                    <td>Gill Sans</td>
                    <td>20px/18px</td>
                    <td>27px/23.4px</td>
                    <td>Normal</td>
                </tr>
                <tr>
                    <td><h4>Heading Four</h4></td>
                    <td>Hugos Hand Two</td>
                    <td>20px</td>
                    <td>25px</td>
                    <td>Normal</td>
                </tr>
            </table>
        </div>
        <h2>Paragraphs</h2>
        <div class="style__box">
            <table>
                <tr>
                    <th>&nbsp;</th>
                    <th>Font style</th>
                    <th>Font size<br /><span class="note">(Desktop/Mobile)</span></th>
                    <th>Line height<br /><span class="note">(Desktop/Mobile)</span></th>
                    <th>Font weight</th>
                </tr>
                <tr>
                    <td><p class="lead">Paragraph lead line</p></td>
                    <td>Gill Sans</td>
                    <td>18px</td>
                    <td>23.4px</td>
                    <td>Normal</td>
                </tr>
                <tr>
                    <td><p>Paragraph body copy</p></td>
                    <td>Gill Sans</td>
                    <td>15px</td>
                    <td>19.5px</td>
                    <td>Normal</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="grid__col--12 page-section colours" id="colours">
    <div class="content">
        <h1>Colours</h1>
        <hr />
        <p class="intro">COOK's color palette consists of primary and secondary colours. The secondary colours are added for highlighting elements or adding colour to pages.</p>
        <hr />
        <h2>Primary</h2>
        <div class="style__box">
            <div class="grid__col--3">
                <div class="color__box green">
                    <p>Green</p>
                </div>
            </div>
            <div class="grid__col--3">
                <div class="color__box textblack">
                    <p>Text Black</p>
                </div>
            </div>
            <div class="grid__col--3">
                <div class="color__box beige">
                    <p>Beige</p>
                </div>
            </div>
            <div class="grid__col--3">
                <div class="color__box grey">
                    <p>Grey</p>
                </div>
            </div>
        </div>
        <h2>Secondary</h2>
        <div class="style__box">
            <div class="grid__col--3">
                <div class="color__box greenblue">
                    <p>Green Blue</p>
                </div>
            </div>
            <div class="grid__col--3">
                <div class="color__box lightgreen">
                    <p>Light Green</p>
                </div>
            </div>
            <div class="grid__col--3">
                <div class="color__box blue">
                    <p>Blue</p>
                </div>
            </div>
            <div class="grid__col--3">
                <div class="color__box promo">
                    <p>Promo Yellow</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid__col--12 page-section buttons" id="buttons">
    <div class="content">
        <h1>Buttons &amp; Links</h1>
        <hr />
        <h2>Buttons</h2>
        <div class="style__box">
            <table>
                <tr>
                    <th>&nbsp;</th>
                    <th>Notes</th>
                    <th>Usage</th>
                </tr>
                <tr>
                    <td><a href="#" class="button">Primary Action</a></td>
                    <td>Main action on a page or section of a UI.</td>
                    <td>Use class <code>.button</code></td>
                </tr>
                <tr>
                    <td><a href="#" class="button secondary">Secondary Action</a></td>
                    <td>Used for a secondary action alongside a primary button, or where multiple buttons are included on a page, this can be used to make a button less prominent against others.</td>
                    <td>Combine class <code>.secondary</code> with <code>.button</code></td>
                </tr>
                <tr>
                    <td><a href="#" class="button warning">Destructive Action</a></td>
                    <td>Warns users that the action will have descructive consequences such as deleting or cancelling.</td>
                    <td>Combine class <code>.warning</code> with <code>.button</code></td>
                </tr>
            </table>
        </div>
        <h2>Links</h2>
        <div class="style__box">
            <table>
                <tr>
                    <th>&nbsp;</th>
                    <th>Notes</th>
                    <th>Usage</th>
                </tr>
                <tr>
                    <td><a href="#">Text link</a></td>
                    <td>A general text link for use withing copy.</td>
                    <td>Standard <code>a</code> tag, no classes needed.</td>
                </tr>
                <tr>
                    <td><p class="large-link-wrapper"><a class="large-link" href="#">Read more</a></p></td>
                    <td>Used for larger links that site alongside images or modules. Used for leading the user on a journey to other content.</td>
                    <td>Wrapper <code>p</code> tag with class <code>.large-link-wrapper</code>, <code>a</code> tag with class <code>.large-link</code>. Combine <code>.white</code> with <code>.large-link</code> on dark backgrounds.</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="grid__col--12 page-section navigation" id="navigation">
    <div class="content">
        <h1>Navigation</h1>
        <hr />
        <h2>Primary Navigation</h2>
        <div class="style__box">
            <nav class="primary">
                <ul>
                    <li class="has-subnav">
                        <a href="#" class="top">Mains</a>
                        <div class="subnav level0">
                            <ul>
                                <li><a href="#">3 Meals for One for £10</a></li>
                                <li><a href="#">Chicken Meals</a></li>
                                <li><a href="#">Lamb Meals</a></li>
                                <li><a href="#">Pork Meals</a></li>
                                <li><a href="#">Vegetarian Meals</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="has-subnav">
                        <a href="#" class="top">Ranges</a>
                        <div class="subnav level0">
                            <ul>
                                <li><a href="#">Indian</a></li>
                                <li><a href="#">Thai</a></li>
                                <li><a href="#">Italian</a></li>
                                <li><a href="#">Comfort Food</a></li>
                                <li><a href="#">Pies</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="has-subnav">
                        <a href="#" class="top">Entertaining</a>
                        <div class="subnav level0">
                            <ul>
                                <li><a href="#">Party Food</a></li>
                                <li><a href="#">Canapes</a></li>
                                <li><a href="#">Starters</a></li>
                                <li><a href="#">Mains</a></li>
                                <li><a href="#">Puddings</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="has-subnav">
                        <a href="#" class="top">Special Diets</a>
                        <div class="subnav level0">
                            <ul>
                                <li><a href="#">Gluten Free</a></li>
                                <li><a href="#">Vegetarian</a></li>
                                <li><a href="#">Vegan</a></li>
                                <li><a href="#">Meals for Seniors</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class=" no-children"><a href="#" class="top" style="color:#b2535b"><span class="desktop-name">3 for £10</span></a></li>
                    <li class="has-subnav">
                        <a href="#" class="top">About Us</a>
                        <div class="subnav level0">
                            <ul>
                                <li><a href="#">Our Values</a></li>
                                <li><a href="#">Our Food &amp; Kitchens</a></li>
                                <li><a href="#">Driving Purpose</a></li>
                                <li><a href="#">Our Story</a></li>
                                <li><a href="#">Shops</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Get in Touch</a></li>
                                <li><a href="#">Jobs</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <br />
            <p class="intro">Main Navigation should use Hugo's Hand Font with the dropdown items in Gill Sans. Brand colours can be used to pull out one navigation item, such as a link to a promotion or campaign.</p>
        </div>
        <h2>Subnavigations</h2>
        <div class="style__box">
            <section class="grid grid--full-width nopadding--all grid--green subnav-bar">
                <div class="grid__col--12 text-center">
                    <div class="content">
                        <ul>
                            <li><a href="#">Shops</a></li>
                            <li class="active"><a href="#">Kitchen</a></li>
                            <li><a href="#">Logistics</a></li>
                            <li><a href="#">HQ</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <br />
            <p class="intro">Subnavigation bar should be 100% width of the screen and ideally be placed above the fold, but not next to the main navigation. This section can also be used as a single button link or as a anchor link down to another section of the page.</p>
            <p class="intro">The <code>.active</code> state for the current selected item is a lightened version of the background colour.</p>
        </div>
        <div class="style__box">
            <div class="subnavmenu col1">
                <a href="#"><h4>About Us</h4></a>
                <ul>
                    <li>
                        <a href="#">Our Food &amp; Kitchens</a>
                        <ul>
                            <li><a href="#.">- Meet Your COOK</a></li>
                            <li><a href="#">- Ingredients &amp; Suppliers</a></li>
                            <li><a href="#">- Dish of the Dale</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="#">Our Driving Purpose</a></li>
                    <li>
                        <a href="#">Our Values</a>
                        <ul>
                            <li><a href="#">- Dream Academy</a></li>
                            <li><a href="#">- RAW Talent Programme</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="#">Blog</a></li>
                    <li><a href="#">Shops</a></li>
                    <li><a href="#">Get in Touch</a></li>
                </ul>
            </div>
            <p class="intro">The sidebar navigation is used for helping users navigate the content in a particular section of pages, Showing categorisation and linking to all individual pages.</p>
        </div>
    </div>
</div>

<div class="grid__col--12 page-section form" id="form">
    <div class="content">
        <h1>Form Elements</h1>
        <p class="intro">Forms should be a maximum of 650px wide to prevent inputs being too long. Only include form fields that are absolutely necessary in order to try and reduce drop offs during completion.</p>
        <hr />
        <h2>Input Elements</h2>
        <div class="style__box">
            <form>
                <div class="col col1">
                    <label for="email">Email Address:<span class="star">*</span></label>
                    <input name="email" type="text" id="email" class="fuzzy">
                </div>
            </form>
            <br />
            <p class="intro">Required fields should display the asterisk next to the label using the class <code>.star</code> on a <code>span</code> tag.</p>
        </div>
        <div class="style__box">
            <form>
                <div class="col colhalf">
                    <label for="firstname">First Name:<span class="star">*</span></label>
                    <input name="firstname" type="text" id="firstname" class="fuzzy">
                </div>
                <div class="col colhalf">
                    <label for="lastname">Last Name:<span class="star">*</span></label>
                    <input name="lastname" type="text" id="lastname" class="fuzzy">
                </div>
            </form>
            <br />
            <p class="intro">Inputs can appear side by side if they are related e.g. first and last name.</p>
        </div>
        <div class="style__box">
            <form>
                <input class="fuzzy input-with-button" id="postcode" name="postcode" placeholder="Enter a postcode"> <input class="button" type="submit" value="Find Shop">
            </form>
            <br />
            <p class="intro">Inputs with a button should have both items on one line, until mobile sizes where they can break to two lines.</p>
        </div>
        <h2>Textarea</h2>
        <div class="style__box">
            <form>
                <div class="col col1 textarea">
                    <label for="message">Your Message:<span class="star">*</span></label>
                    <textarea name="message" id="message" class="fuzzy"></textarea>
                </div>
            </form>
            <br />
            <p class="intro">Textareas should always be displayed at 100% width of the form, and default to 80px height, but allow for user resizing.</p>
        </div>
        <h2>Labels</h2>
        <div class="style__box">
            <form>
                <div class="col col1">
                    <div id="Content__telephoneDiv" class="fieldcolumn">
                        <label for="telephone">Phone number:<span class="star">*</span></label>
                        <input name="telephone" type="text" id="telephone" maxlength="50" class="fuzzy">
                    </div>
                    <small class="data-info">Please note this will only be used to update you about orders you have placed with COOK.</small>
                </div>
            </form>
            <br />
            <br />
            <p class="intro">Labels should be succinct, short and descriptive (a word or two) so users can quickly scan the form. E.g. Full name NOT Please enter your full name.</p>
            <p class="intro">Labels should always appear on top of the field.</p>
            <p class="intro">Additional notes to help the user complete the form can be added underneath the relevant field. Use <code>small</code> tag with class <code>.data-info</code>.</p>
        </div>
        <h2>Error Messages</h2>
        <div class="style__box">
            <form>
                <div class="main-error">
                    <p>There were some problems with some of the information you entered. Please check the highlighted sections below and try again.</p>
                </div>
            </form>
            <br />
            <p class="intro">Every form should have a main error message that explains that there is an error and directs the user to the appropriate field, this should appear at the top of the form.</p>
            <p class="intro">Use class <code>.main-error</code> on a <code>div</code> with child <code>p</code>.</p>
        </div>
        <div class="style__box">
            <form>
                <div class="col col1 error">
                    <label for="email">Email Address:<span class="star">*</span></label>
                    <input name="email" type="text" id="email" maxlength="255" class="fuzzy" value="" autocomplete="off">
                    <p>Email address is a required field.</p>
                </div>
            </form>
            <form>
                <div class="col col1 error">
                    <label for="email">Email Address:<span class="star">*</span></label>
                    <input name="email" type="text" id="email" maxlength="255" class="fuzzy" value="" autocomplete="off">
                    <p>Email address should be in the format example@email.com.</p>
                </div>
            </form>
            <br />
            <p class="intro">Use clear and polite language, wording should be conversational and helpful.</p>
            <p class="intro">Error messages should clearly define what the problem was, why it happened, and what to do about it.</p>
        </div>
        <h2>Selects</h2>
        <div class="style__box">
            <form>
                <div class="col col1">
                    <label>Shop:</label>
                    <div class="styled-select fit-box">
                        <select name="pickupshop" id="pickupshop">
                            <option selected="selected" value="">-- Please select --</option>
                            <option value="33">East Grinstead</option>
                            <option value="29">Haywards Heath</option>
                            <option value="42">Lewes</option>
                            <option value="15">Tonbridge</option>
                            <option value="16">Tunbridge Wells</option>
                        </select>
                    </div>
                </div>
            </form>
            <br /><br />
            <p class="intro">Selects should have the label above it and should not have a 'Please select' option as the default value. Selects should be consistently styled, on desktops broswers. On mobile and tablet the native interactions should be maintained.</p>
        </div>
        <h2>Checkboxes</h2>
        <div class="style__box">
            <form>
                <div class="checkbox">
                    <label class="mobile-checkbox-styling marketing-optin">
                        <input name="emailsub" type="checkbox" id="emailsub">
                        <span class="checkbox-label"><span>Emails - Yes please, send me tasty emails</span> Sign up for email and get news, special offers and fun stuff straight to your inbox. </span>
                    </label>
                </div>
            </form>
            <form>
                <div class="checkbox">
                    <label class="mobile-checkbox-styling">
                        <input name="tandc" type="checkbox" id="tandc" class="styled-checkbox">
                        <span class="checkbox-label">Please tick this box to agree to the <a href="/newparents-terms">terms and conditions</a> of the New Parents Discount Scheme</span>
                    </label>
                </div>
            </form>
            <br />
            <p class="intro">Checkboxes can be displayed with a simple label for basic checkboxes. If the users attention should be drawn to the checkbox, a styled title can be added to the label using a <code>span</code> tag.</p>
        </div>
        <h2>Radio Buttons</h2>
        <div class="style__box">
            <form>
                <legend>Do you have an account?</legend>
                <div class="radio">
                    <input value="1" name="neworexisting" type="radio" id="newcustomer" checked="checked" class="radio-hidden">
                    <label class="radio-label" for="newcustomer">No, (you can create an account next)</label>
                </div>
                <div class="radio">
                    <input value="2" name="neworexisting" type="radio" id="existingcustomer" class="radio-hidden">
                    <label class="radio-label" for="existingcustomer">Yes, here is my password</label>
                </div>
            </form>
            <br />
            <p class="intro">A title can be added to a set of radio buttons using <code>legend</code>.</p>
        </div>
    </div>
</div>

<div class="grid__col--12 page-section icons" id="icons">
    <div class="content">
        <h1>Icons</h1>
        <hr />
        <p class="intro">Icons should be used in place of text to improve the user's recognition of the features of a user interface, increasing the speed of completing tasks and visual appeal of the overall page or interface.</p>
        <br />
        <div class="style__box">
            <table>
                <tr>
                    <th>Icon</th>
                    <th>Usage</th>
                    <th>Icon</th>
                    <th>Usage</th>
                </tr>
                <tr>
                    <td><img src="/CreativeToolkit.Web.UI/Content/images/icons/basket2.png" width="42" /></td>
                    <td>Shopping basket</td>
                    <td><img src="/CreativeToolkit.Web.UI/Content/images/icons/mobile-search.png" width="38" /></td>
                    <td>Search</td>
                </tr>
                <tr>
                    <td><img src="/CreativeToolkit.Web.UI/Content/images/icons/map_finder.png" width="42" /></td>
                    <td>Shop finder</td>
                    <td><img src="/CreativeToolkit.Web.UI/Content/images/icons/store.png" width="42" /></td>
                    <td>COOK shop</td>
                </tr>
                <tr>
                    <td><img src="/CreativeToolkit.Web.UI/Content/images/icons/arrow.png" width="26" /></td>
                    <td>Click &amp; Collect</td>
                    <td><img src="/CreativeToolkit.Web.UI/Content/images/icons/car.png" width="50" /></td>
                    <td>Home Delivery</td>
                </tr>
                <tr>
                    <td><img src="/CreativeToolkit.Web.UI/Content/images/icons/tiny_grey_arrow.png" width="42" /></td>
                    <td>Click &amp; Collect</td>
                    <td><img src="/CreativeToolkit.Web.UI/Content/images/icons/tiny_grey_van2.png" width="42" /></td>
                    <td>Home Delivery</td>
                </tr>
                <tr>
                    <td><img src="/CreativeToolkit.Web.UI/Content/images/icons/home.png" width="42" /></td>
                    <td>Homepage link</td>
                    <td><img src="/CreativeToolkit.Web.UI/Content/images/icons/enews.png" width="52" /></td>
                    <td>Email newsletter</td>
                </tr>
                <tr>
                    <td><img src="/CreativeToolkit.Web.UI/Content/images/icons/forward.png" width="28" /></td>
                    <td>Arrow forward</td>
                    <td><img src="/CreativeToolkit.Web.UI/Content/images/icons/backwards.png" width="28" /></td>
                    <td>Arrow backwards</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="grid__col--12 page-section web-grid" id="web-grid">
    <div class="content">
        <h1>Grid</h1>
        <hr />
        <p class="intro">Our grid system is composed of 12 flexible columns with a gutter between columns of 20px. The grid is built with flexbox and we apply border-box so that the border and padding is included in the width of the grid columns.</p>
        <p class="intro">Each section of the grid should be wrapped in a <code>section</code> with class <code>.grid</code>.</p>
        <h2>Column Sizes</h2>
        <div class="style__box">
            <section class="grid nomargin--all nopadding--all">
                <div class="grid__col--12">
                    <div class="content content--equal-height">
                        <p class="intro">1/1</p>
                    </div>
                </div>
                <div class="grid__col--6">
                    <div class="content content--equal-height">
                        <p class="intro">1/2</p>
                    </div>
                </div>
                <div class="grid__col--6">
                    <div class="content content--equal-height">
                        <p class="intro">1/2</p>
                    </div>
                </div>
                <div class="grid__col--4">
                    <div class="content content--equal-height">
                        <p class="intro">1/3</p>
                    </div>
                </div>
                <div class="grid__col--4">
                    <div class="content content--equal-height">
                        <p class="intro">1/3</p>
                    </div>
                </div>
                <div class="grid__col--4">
                    <div class="content content--equal-height">
                        <p class="intro">1/3</p>
                    </div>
                </div>
                <div class="grid__col--3">
                    <div class="content content--equal-height">
                        <p class="intro">1/4</p>
                    </div>
                </div>
                <div class="grid__col--3">
                    <div class="content content--equal-height">
                        <p class="intro">1/4</p>
                    </div>
                </div>
                <div class="grid__col--3">
                    <div class="content content--equal-height">
                        <p class="intro">1/4</p>
                    </div>
                </div>
                <div class="grid__col--3">
                    <div class="content content--equal-height">
                        <p class="intro">1/4</p>
                    </div>
                </div>
                <div class="grid__col--2">
                    <div class="content content--equal-height">
                        <p class="intro">1/6</p>
                    </div>
                </div>
                <div class="grid__col--2">
                    <div class="content content--equal-height">
                        <p class="intro">1/6</p>
                    </div>
                </div>
                <div class="grid__col--2">
                    <div class="content content--equal-height">
                        <p class="intro">1/6</p>
                    </div>
                </div>
                <div class="grid__col--2">
                    <div class="content content--equal-height">
                        <p class="intro">1/6</p>
                    </div>
                </div>
                <div class="grid__col--2">
                    <div class="content content--equal-height">
                        <p class="intro">1/6</p>
                    </div>
                </div>
                <div class="grid__col--2">
                    <div class="content content--equal-height">
                        <p class="intro">1/6</p>
                    </div>
                </div>
            </section>
        </div>
        <h2>Mixed Columns</h2>
        <p class="intro">Columns can be mixed to extend the layout options of the grid.</p>
        <br />
        <div class="style__box">
            <section class="grid nomargin--all nopadding--all">
                <div class="grid__col--4">
                    <div class="content content--equal-height">
                        <p class="intro">1/3</p>
                    </div>
                </div>
                <div class="grid__col--8">
                    <div class="content content--equal-height">
                        <p class="intro">2/3</p>
                    </div>
                </div>
                <div class="grid__col--10">
                    <div class="content content--equal-height">
                        <p class="intro">5/6</p>
                    </div>
                </div>
                <div class="grid__col--2">
                    <div class="content content--equal-height">
                        <p class="intro">1/6</p>
                    </div>
                </div>
                <div class="grid__col--3">
                    <div class="content content--equal-height">
                        <p class="intro">1/4</p>
                    </div>
                </div>
                <div class="grid__col--5">
                    <div class="content content--equal-height">
                        <p class="intro">5/12</p>
                    </div>
                </div>
                <div class="grid__col--4">
                    <div class="content content--equal-height">
                        <p class="intro">1/3</p>
                    </div>
                </div>
                <div class="grid__col--2">
                    <div class="content content--equal-height">
                        <p class="intro">1/6</p>
                    </div>
                </div>
                <div class="grid__col--3">
                    <div class="content content--equal-height">
                        <p class="intro">1/4</p>
                    </div>
                </div>
                <div class="grid__col--2">
                    <div class="content content--equal-height">
                        <p class="intro">1/6</p>
                    </div>
                </div>
                <div class="grid__col--3">
                    <div class="content content--equal-height">
                        <p class="intro">1/4</p>
                    </div>
                </div>
                <div class="grid__col--2">
                    <div class="content content--equal-height">
                        <p class="intro">1/6</p>
                    </div>
                </div>
            </section>
        </div>
        <h2>Column Spacers</h2>
        <p class="intro">Columns can have additional spacing to the left using the <code>.grid__col--offset-1</code> class alongside the grid column class. Column spacer class can be used for 1-12 columns.</p>
        <br />
        <div class="style__box">
            <section class="grid nomargin--all nopadding--all">
                <div class="grid__col--4">
                    <div class="content content--equal-height">
                        <p class="intro">1/3</p>
                    </div>
                </div>
                <div class="grid__col--7 grid__col--offset-1">
                    <div class="content content--equal-height">
                        <p class="intro">7/12 with 1 column offset</p>
                    </div>
                </div>
            </section>
        </div>
        <h2>Spacer Columns</h2>
        <p class="intro">Columns can have additional spacing to the left using the <code>.grid__col--offset-1</code> class alongside the grid column class. Column spacer class can be used for 1-12 columns.</p>
        <br />
        <div class="style__box">
            <section class="grid nomargin--all nopadding--all">
                <div class="grid__col--4">
                    <div class="content content--equal-height">
                        <p class="intro">1/3</p>
                    </div>
                </div>
                <div class="grid__col--7 grid__col--offset-1">
                    <div class="content content--equal-height">
                        <p class="intro">7/12 with 1 column offset</p>
                    </div>
                </div>
            </section>
        </div>
        <h2>Grid Options</h2>
        <p class="intro">Columns can have additional spacing to the left using the <code>.grid__col--offset-1</code> class alongside the grid column class. Column spacer class can be used for 1-12 columns.</p>
        <br />
        <div class="style__box">
            <table>
                <tr>
                    <th>Class</th>
                    <th>Usage</th>
                </tr>
                <tr>
                    <td><code>.grid--full-width</code></td>
                    <td>Grid items will span the full width of the page rather than at the fixed max width</td>
                </tr>
                <tr>
                    <td><code>.grid--equal-height</code></td>
                    <td>Sets child elements to be of equal height</td>
                </tr>
                <tr>
                    <td><code>.grid--viewport-height</code></td>
                    <td>Section will be height of the browser viewport</td>
                </tr>
                <tr>
                    <td><code>.nomargin--all</code></td>
                    <td>Removes all margins</td>
                </tr>
                <tr>
                    <td><code>.grid--extra-padding</code></td>
                    <td>Adds 20px padding around the section</td>
                </tr>
                <tr>
                    <td><code>.nopadding--all</code></td>
                    <td>Removes all padding</td>
                </tr>
                <tr>
                    <td><code>.nopadding--sides</code></td>
                    <td>Removes padding from the sides of the section</td>
                </tr>
                <tr>
                    <td><code>.nopadding--top-bottom</code></td>
                    <td>Removes padding from the top and bottom of the section</td>
                </tr>
                <tr>
                    <td><code>.nopadding--bottom</code></td>
                    <td>Removes padding from the bottom of the section</td>
                </tr>
                <tr>
                    <td><code>.text-center</code></td>
                    <td>Centre all text within a section</td>
                </tr>
                <tr>
                    <td><code>.grid--{COLOURNAME}</code></td>
                    <td>Sets the background of the section to be one of the brand colours.</td>
                </tr>
            </table>
        </div>
        <h2>Responsive Columns</h2>
        <p class="intro">Columns can resize on different screensizes using a variety of classes.</p>
        <p class="intro">E.g. A column with classes: <code>grid__col--4 grid__col--6-l grid__col--12-m</code> would appear as 4 column/33.3% on large desktop, 6 column/50% on large screens and 12 columns/100% on tablet and below.</p>
        <br />
        <div class="style__box">
            <table>
                <tr>
                    <th>Class</th>
                    <th>Usage</th>
                </tr>
                <tr>
                    <td><code>.grid__col--{COLUMNSIZE}-l</code></td>
                    <td>Column resizes to the specified column size on large/desktop screens - less than 1069px</td>
                </tr>
                <tr>
                    <td><code>.grid__col--{COLUMNSIZE}-m</code></td>
                    <td>Column resizes to the specified column size on medium/tablet screens - less than 819px</td>
                </tr>
                <tr>
                    <td><code>.grid__col--{COLUMNSIZE}-s</code></td>
                    <td>Column resizes to the specified column size on small/mobile screens - less than 480px</td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('a[href*=#]').bind('click', function (e) {
                e.preventDefault(); // prevent hard jump, the default behavior

                var target = $(this).attr("href"); // Set the target as variable

                // perform animated scrolling by getting top-position of target-element and set it as scroll target
                $('html, body').stop().animate({
                    scrollTop: $(target).offset().top
                }, 600, function () {
                    location.hash = target; //attach the hash (#jumptarget) to the pageurl
                });

                return false;
            });
        });

        $(window).scroll(function () {
            var scrollDistance = $(window).scrollTop();

            // Show/hide menu on scroll
            //if (scrollDistance >= 850) {
            //		$('nav').fadeIn("fast");
            //} else {
            //		$('nav').fadeOut("fast");
            //}

            // Assign active class to nav links while scolling
            $('.page-section').each(function (i) {
                if ($(this).position().top <= scrollDistance) {
                    $('.navigation a.active').removeClass('active');
                    $('.navigation a').eq(i).addClass('active');
                }
            });
        }).scroll();
    </script>
}